#contactForm{
    width: 60%;
    margin: auto;
    background-color: #FCCF31;
}

@media (max-width: 768px){
    #contactForm{
        width: 90%;
    }

    .button{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

#msj{
    resize: none;
    height: fit-content;
}
.container{
    margin-top: 20px;
}

/*
.container h1{
    font-size: 2rem;
    margin-top: 1.8vh;
    text-align: center;
    font-weight:normal;
    text-transform: uppercase;
}
*/
.form-label{
    color: #3c3c3c;
}
.button{
    display: flex;
    justify-content: center;
}

.button input{
    margin: 0 20px;
}

