.container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 70vh;

}

form {
    background-color: #FCCF31;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.56);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

form h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

form .input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form .input-group {
    width: 200px !important; /* Puedes ajustar este valor según tus preferencias */
    margin-bottom: 15px;
}

.form-control{
    width: 300px !important;
}
.group-btn-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Puedes ajustar el margen según tus preferencias */
}

.group-btn-img button {
    width: 48%; /* Puedes ajustar este valor según tus preferencias */
}

.group-btn-img img {
    width: 48%; /* Puedes ajustar este valor según tus preferencias */
    margin-top: 10px; /* Puedes ajustar el margen según tus preferencias */
}

@media (max-width: 960px) {
    .container {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 200px;
        height: 90vh;
    
    }
    form {
        background-color: #FCCF31;
        box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.56);
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;
        margin: auto;
        max-height: 90vh;
        margin-bottom: 50px;
    }
    form h1 {
        text-align: center;
        margin: auto;
    }

    form .input-group {
        width: 100%; /* Cuando el ancho de la pantalla sea menor a 768px, muestra uno por línea */
        padding: 0;
        margin: auto;
    }
    .form-control{
        width: 500px !important;
    }
   
    
    
}


/* Consulta de medios para hacer que sea responsivo */
@media (max-width: 768px) {
    .container {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 200px;
        height: 90vh;
    
    }
    form {
        background-color: #FCCF31;
        box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.56);
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;
        margin: auto;
        max-height: 90vh;
        margin-bottom: 50px;
    }
    form h1 {
        text-align: center;
        margin: auto;
    }

    form .input-group {
        width: 100%; /* Cuando el ancho de la pantalla sea menor a 768px, muestra uno por línea */
        padding: 0;
        margin: auto;
    }
    .form-control{
        width: 500px !important;
    }
   
    
    
}


@media (max-width: 480px) {
    .container {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 200px;
        height: 100vh;
    
    }
    form {
        background-color: #FCCF31;
        box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.56);
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 600px;
        margin: auto;
        max-height: 100vh;
        margin-bottom: 50px;
    }
    form h1 {
        text-align: center;
        margin: auto;
    }

    form .input-group {
        width: 100%; /* Cuando el ancho de la pantalla sea menor a 768px, muestra uno por línea */
        padding: 0;
        margin: auto;
    }
    .form-control{
        width: 500px !important;
    }
   
    
    
}