/*.lista_productos{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }*/
/*
  .lista_productos h2{
    font-size: 2rem;
    margin-top: 1.8vh;
    text-align: center;
    font-weight:normal;
    text-transform: uppercase;
  }
  */
  /*.cards1{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    width: 100%;
    
  }
.lista{
    margin: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background-color: #3d348b89;
  }
  
  .lista img{
    width: 50%;
  }*/
/*
  .lista a{
    color:#e2e2e2;
    font-weight: 700;
    padding: .5rem;
    border-radius: .3rem;
  }

  .lista a:hover{
    background-color: #FCCF31;
    color:  #3d348b89;
  }
  */

/* styles.css */
.lista_productos h2 {
  text-align: center;
  color: #201e1e;
  margin: 20px auto;
}

#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  display: inline-block;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
  transition: .5s ease-in-out;
}

.producto img:hover{
  box-shadow: 0 0 5px rgba(31, 31, 31, 0.343);
}

.producto .p-line{
  border-top: #ccc solid 1px;
}

.producto p {
  margin: 10px 0;
}

.producto p span {
  font-weight: bold;
  color: #e3ac2c ;
}

.producto p #precio{
  font-weight: bolder;
  font-size: 1.2rem;
  color: #61bf14;
}