main h2{ 
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px ;
}
#app button{
  margin-left: 10px;
  color: #FCCF31;
  background-color: #545454;
  border-radius: 4px;
  text-align: center;
  width: 100px;

}
#app input{
  margin-left: 20px;
}

.filtros-prod{
  position: relative;
  display:flex;
  justify-content: center;
  padding: 20px;
  
}
.filtros-prod .categoria button{
  margin-right: 80px;
}

.lista_productos {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista_productos h2 {
  text-align: center;
  color: #201e1e;
  margin: 20px auto;
}


.producto {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 45vh;
  display: flex; /* Usa flex para alinear elementos verticalmente */
  flex-direction: column; /* Alinea elementos verticalmente */
  justify-content: space-around; /* Espaciado entre contenido y botón */
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
  transition: .5s ease-in-out;
}

.producto img:hover{
  box-shadow: 0 0 5px rgba(31, 31, 31, 0.343);
}


.producto .p-line{
  border-top: #ccc solid 1px;
}

.p-line{
  font-weight: bold;
  color: #201e1e;
}
.producto p {
  margin: 10px 0;
}

.producto p span {
  font-weight: bold;
  color: #e3ac2c ;
}

.producto p #precio{
  font-weight: bolder;
  font-size: 1.2rem;
  color: #515151;
}
.producto #precio{
  background-color: #FCCF31;
  border-radius: 8px;
  width: 10rem;
  
  padding: 10px; /* Añade espaciado dentro del botón */
  margin-top: 10px; /* Espacio entre el contenido y el botón */

}


.btn-carrito {
  position: relative;
  margin: 0px; 
  left: 27px;
}

@media (max-width: 534px) {
  .filtros-prod{
    flex-direction: column;
    
    margin: auto;
  }
  .categoria{
    display: flex;
    flex-direction: row;
    right: 20px;
    padding: 10px;
  }

  .producto{
    width: 90vw;
    height: 250px;
    margin: 10px auto 10px auto;
    left: -20px;
  }

  .producto img{
    max-width: 150px;
    margin: 5px auto 0 auto;
  }
  


}

@media (max-width: 361px) {
  .filtros-prod{
    flex-direction: column;
    
    margin: auto;
  }
  .categoria{
    display: flex;
    flex-direction: row;
    right: 20px;
    padding: 10px;
  }

  .producto{
    width: 90vw;
    height: 200px;
    margin: 10px auto 10px auto;
  }

  .producto img{
    max-width: 100px;
    margin: 5px auto 0 auto;
  }



}
